.container {  display: grid;
    grid-template-columns: 0.5fr 1.2fr 1.2fr 1fr;
    grid-template-rows: 0.7fr 0.6fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-header grid-header grid-header grid-header"
      "grid-nav grid-text grid-text grid-text"
      "grid-nav grid-svg grid-svg grid-controls"
      "grid-nav grid-svg grid-svg grid-controls";
  }
  
  .grid-header { grid-area: grid-header; }
  
  .grid-nav { grid-area: grid-nav; }
  
  .grid-text { grid-area: grid-text; }
  
  .grid-svg { grid-area: grid-svg; }
  
  .grid-controls { grid-area: grid-controls; }
  

#mysvg{
    width: 100%;
    height: 100%;
}